@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#0c141f 40%, #cf33d9 41%, #0c141f 60%);
}

:root {
    --rose : #FA26F7;
}

.game {
    position: relative;
    margin: auto;
    width: 100%;
    z-index: 99;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #0c141f;
    border: solid 3px var(--rose);
    border-radius: 20px;
    gap: 10px;
}

.game .ligne {
    margin: auto;
    width: 100%;
    z-index: 99;
    height: 100%;
    padding: 2%;
    background-color: #0c141f;
    border: solid 1px var(--rose);
    gap: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.game .ligne:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.game .ligne:last-child {
    margin: 20px auto 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.game .ligne .toast {
    position: absolute;
    display: flex;
    opacity: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    border-radius: 10px;
    z-index: 2;
    background-color: #0c141f;
    border: solid 1px var(--rose);
    color: white;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
}
  
.game .ligne  .toast.score_on {
    opacity: 1;
    right: -80px;
    transition: 300ms ease;
}
  
.close {
    cursor: pointer;
    float: right;
    font-size: 1.25rem;
    line-height: 1;
    margin-left: 1em;
    opacity: .8;
}

.game .ligne .bulle {
    margin: auto;
    z-index: 99;
    width: 30px;
    height: 30px;
    border: solid 1px #157be6;
    border-radius: 50%;
    cursor: pointer;
}

.game .ligne .bulle_choix {
    margin: auto;
    width: 30px;
    height: 30px;
    border: solid 1px #157be6;
    border-radius: 50%;
    cursor: pointer;
}

.game .ligne .red {
    background-color: red;
}

.game .ligne .yellow {
    background-color: yellow;
}

.game .ligne .green {
    background-color: green;
}

.game .ligne .blue {
    background-color: blue;
}

.game .ligne .white {
    background-color: white;
}

.win {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    display: flex;
    background-color: #0c141f;
    border-radius: 20px;
    color: white;
    border: solid 1px var(--rose);
}

.win h1 {
    margin: auto;
}